<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
</head>
<body>
<section layout:fragment="content">
<div class="container text-center">
<h1 class="txt-black">Welcome to Login Page</h1>
<input type="button" class="btn btn-primary m-2 login" value="Login Text">
<form action="home" method="post" class="form-inline">
<input type="text" name="userName" class="form-control"/>
<input type="submit" class="btn btn-primary m-2" value="Login">
</form>
</div>
    </section>
</body>
<script type="text/javascript" src='/resources/js/login.js'></script>
</html>